@model CreateOfferViewModel
@{
}

<h1 class="title">Add Your Offer</h1>

<form class="main-form">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" id="title" class="form-input" />
    </div>
    <div class="form-group">
        <label for="breed">Breed</label>
        <input type="text" id="breed" class="form-input" />
    </div>
    <div class="form-group">
        <label for="price">Price</label>
        <input type="text" id="price" class="form-input" />
    </div>
    <div class="form-group">
        <label for="imageUrl">Image URL</label>
        <input type="text" id="imageUrl" class="form-input" />
    </div>
    <div class="form-group">
        <label for="discription">Description</label>
        <input type="text" id="discription" class="form-input" />
    </div>
    <div class="form-group">
        <label for="location">Location</label>
        <input type="text" id="location" class="form-input" />
    </div>
    <button class="create-button" type="submit">Create</button>
</form>


<style>

    .title {
        font-size: 28px;
        color: #204a87;
        text-align: center;
        margin-bottom: 20px;
    }

    .main-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        width: 80%;
        max-width: 600px;
        margin: auto;
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
        background: #f9f9f9;
        border-radius: 10px;
    }

    .form-group {
        width: 100%;
        margin-bottom: 15px;
    }

    .form-input {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    .create-button {
    width: 100%;
    padding: 10px 0;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    }

    .create-button:hover {
        background-color: #0056b3;
    }

    .text-danger {
        color: #dc3545;
        text-align: center;
        width: 100%;
    }

</style>